Repository wrtnlabs/connectors, pull requests merged in 2024-06, with the labels that each got.

#22 `sweet-tracker` Connectors
  src/ConnectorGlobal.ts
  src/api/functional/connector/index.ts
  src/api/functional/connector/sweet_tacker/get_companies/index.ts
  src/api/functional/connector/sweet_tacker/get_companies/recommended/index.ts
  src/api/functional/connector/sweet_tacker/index.ts
  src/api/functional/connector/sweet_tacker/tracking_info/index.ts
  src/api/structures/connector/sweet_tracker/ISweetTacker.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/sweet_tracker/SweetTrackerController.ts
  src/controllers/connector/sweet_tracker/SweetTrackerModule.ts
  src/providers/connector/sweet_tracker/SweetTrackerProvider.ts
  test/features/api/connector/sweet_tracker/test_api_connector_sweet_tracker.ts
Labels: SweetTracker

#28 Fix dependabot problem.
  package-lock.json
  package.json
Labels: bug, enhancement

#37 Send Message To Myself By KakaoTalk Connector
  src/ConnectorGlobal.ts
  src/api/functional/connector/index.ts
  src/api/functional/connector/kakao_talk/auth/index.ts
  src/api/functional/connector/kakao_talk/index.ts
  src/api/structures/connector/kakao_talk/IKakaoTalk.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/kakao_talk/KakaoTalkController.ts
  src/controllers/connector/kakao_talk/KakaoTalkModule.ts
  src/providers/connector/kakao_talk/KakaoTalkProvider.ts
  test/features/api/connector/kakao_talk/test_api_kakao_talk.ts
Labels: kakao

#38 Send Message To Myself By KakaoTalk Connector: `feed` type
  src/ConnectorGlobal.ts
  src/api/functional/connector/index.ts
  src/api/functional/connector/kakao_talk/auth/index.ts
  src/api/functional/connector/kakao_talk/index.ts
  src/api/structures/connector/kakao_talk/IKakaoTalk.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/kakao_talk/KakaoTalkController.ts
  src/controllers/connector/kakao_talk/KakaoTalkModule.ts
  src/providers/connector/kakao_talk/KakaoTalkProvider.ts
  test/features/api/connector/kakao_talk/test_api_kakao_talk.ts
Labels: documentation, kakao

#54 @samchon Prepare #53: upgrade of `@wrtn/decorators`
  package-lock.json
  package.json
  src/api/structures/connector/kakao_talk/IKakaoTalk.ts
  src/api/structures/connector/sweet_tracker/ISweetTacker.ts
Labels: enhancement

#50 get products of imweb
  src/ConnectorGlobal.ts
  src/api/functional/connector/imweb/auth/index.ts
  src/api/functional/connector/imweb/get_products/index.ts
  src/api/functional/connector/imweb/index.ts
  src/api/functional/connector/index.ts
  src/api/structures/connector/imweb/IImweb.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/imweb/ImwebController.ts
  src/controllers/connector/imweb/ImwebModule.ts
  src/providers/connector/imweb/ImwebProvider.ts
  test/features/api/connector/imweb/test_api_connector_imweb.ts
Labels: Imweb

#57 Prepare website deployment
  .env
  .github/workflows/website.yml
  LICENSE
  package.json
  packages/api/package.json
  src/api/structures/connector/imweb/IImweb.ts
  src/api/structures/connector/kakao_talk/IKakaoTalk.ts
  website/.gitignore
  website/build/deploy.js
  website/build/swagger.js
  website/out/index.html
  website/out/swagger/favicon-16x16.png
  website/out/swagger/favicon-32x32.png
  website/out/swagger/index.css
  website/out/swagger/index.html
  website/out/swagger/swagger-initializer.js
  website/out/swagger/swagger-ui-bundle.js
  website/out/swagger/swagger-ui-bundle.js.map
  website/out/swagger/swagger-ui-es-bundle-core.js
  website/out/swagger/swagger-ui-es-bundle-core.js.map
  website/out/swagger/swagger-ui-es-bundle.js
  website/out/swagger/swagger-ui-es-bundle.js.map
  website/out/swagger/swagger-ui-standalone-preset.js
  website/out/swagger/swagger-ui-standalone-preset.js.map
  website/out/swagger/swagger-ui.css
  website/out/swagger/swagger-ui.css.map
  website/out/swagger/swagger-ui.js
  website/out/swagger/swagger-ui.js.map
  website/package-lock.json
  website/package.json
Labels: documentation, enhancement

#62 feat: notion connector
  package-lock.json
  package.json
  src/api/functional/connector/index.ts
  src/api/functional/connector/notion/database_item/index.ts
  src/api/functional/connector/notion/find_item/index.ts
  src/api/functional/connector/notion/find_item_list/index.ts
  src/api/functional/connector/notion/get/database_info/index.ts
  src/api/functional/connector/notion/get/index.ts
  src/api/functional/connector/notion/get/page/index.ts
  src/api/functional/connector/notion/get/users/index.ts
  src/api/functional/connector/notion/get_page_by_title/index.ts
  src/api/functional/connector/notion/index.ts
  src/api/functional/connector/notion/page/content/index.ts
  src/api/functional/connector/notion/page/index.ts
  src/api/structures/connector/notion/INotion.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/notion/NotionController.ts
  src/providers/connector/notion/NotionProvider.ts
  test/features/api/connector/notion/test_api_connector_notion.ts
Labels: notion

#73 short-term forecast connector
  .env
  src/ConnectorGlobal.ts
  src/api/functional/connector/index.ts
  src/api/functional/connector/open_data/index.ts
  src/api/structures/connector/open_data/IOpenData.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/open_data/OpenDataController.ts
  src/controllers/connector/open_data/OpenDataModule.ts
  src/providers/connector/open_data/OpenDataProvider.ts
  test/features/api/connector/open_data/test_api_connector_open_data.ts
Labels: Open-Data

#75 feat: Modify the type to a clearer meaning
  src/api/structures/connector/kakao_talk/IKakaoTalk.ts
  src/providers/connector/kakao_talk/KakaoTalkProvider.ts
  test/features/api/connector/kakao_talk/test_api_kakao_talk.ts
Labels: kakao

#80 fix: make kakao secret key be refresh token
  src/providers/connector/kakao_talk/KakaoTalkProvider.ts
  test/features/api/connector/kakao_talk/test_api_kakao_talk.ts
Labels: kakao

#81 search by keyword connector in kakao-map
  src/api/functional/connector/index.ts
  src/api/functional/connector/kakao_map/index.ts
  src/api/structures/connector/kakao_map/IKakaoMap.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/kakao_map/KakaoController.ts
  src/controllers/connector/kakao_map/KakaoMapModule.ts
  src/providers/connector/kakao_map/KakaoMapProvider.ts
  test/features/api/connector/kakao_map/test_api_connector_kakao_map.ts
Labels: kakao

#90 OpenAI Function Call Schema Builder
  package-lock.json
  package.json
  packages/api/.gitignore
  src/executable/openai.ts
  src/services/openai/IOpenAiDocument.ts
  src/services/openai/OpenAiConverter.ts
  website/build/swagger.js
  website/out/swagger/openai.json
Labels: documentation, enhancement

#98 Connector of get exchage of `Korea Eximbank`
  package-lock.json
  src/ConnectorGlobal.ts
  src/api/functional/connector/index.ts
  src/api/functional/connector/korea_eximbank/exchange/index.ts
  src/api/functional/connector/korea_eximbank/index.ts
  src/api/structures/connector/korea_eximbank/IKoreaEximbank.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/korea_eximbank/KoreaEximbankController.ts
  src/controllers/connector/korea_eximbank/KoreaEximbankModule.ts
  src/providers/connector/korea_eximbank/KoreaEximbankProvider.ts
  test/features/api/connector/korea_eximbank/test_api_connector_korea_eximbank_get_exchange.ts
Labels: Open-Data

#100 Update build.yml
  .github/workflows/build.yml
Labels: Open-Data

#103 Upgrade dependencies for `@Prerequisite()`
  package-lock.json
  package.json
  packages/api/package.json
Labels: bug

#105 Fix OpenAI conversion problem
  src/controllers/connector/gmail/GmailController.ts
  src/services/openai/OpenAiConverter.ts
Labels: bug

#124 공공데이터 4개 추가
  src/ConnectorGlobal.ts
  src/api/functional/connector/open_data/index.ts
  src/api/structures/connector/open_data/ILH.ts
  src/api/structures/connector/open_data/IMOLIT.ts
  src/api/structures/connector/open_data/INIA.ts
  src/api/structures/connector/open_data/IOpenData.ts
  src/controllers/connector/open_data/OpenDataController.ts
  src/providers/connector/open_data/OpenDataProvider.ts
  test/features/api/connector/open_data/test_api_connector_open_data.ts
Labels: Open-Data

#108 read hancell file connector
  .gitignore
  assets/s3/connector-test.cell
  package-lock.json
  package.json
  src/api/functional/connector/hancell/index.ts
  src/api/functional/connector/index.ts
  src/api/structures/connector/excel/IExcel.ts
  src/api/structures/connector/hancell/IHancell.ts
  src/controllers/connector/ConnectorModule.ts
  src/controllers/connector/excel/ExcelController.ts
  src/controllers/connector/excel/ExcelModule.ts
  src/controllers/connector/hancell/HancellController.ts
  src/controllers/connector/hancell/HancellModule.ts
  src/providers/connector/aws/AwsProvider.ts
  src/providers/connector/excel/ExcelProvider.ts
  src/providers/connector/hancell/HancellProvider.ts
  test/inhouse/api/connector/hancell/test_api_connector_hancell.ts
Labels: hancell

#127 고용24 API 키 정보 추가
  .env
Labels: Work24

#132 No beautify `swagger.json` file
  nestia.config.ts
Labels: documentation, enhancement

#140 add icon and fix comment of figma connectors
  src/api/structures/connector/figma/IFigma.ts
  src/controllers/connector/figma/FigmaController.ts
Labels: Figma

#135 저작권 조회 커넥터
  src/api/functional/connector/open_data/index.ts
  src/api/structures/connector/open_data/KoreaCopyrightCommission.ts
  src/controllers/connector/open_data/OpenDataController.ts
  src/providers/connector/open_data/OpenDataProvider.ts
  test/features/api/connector/open_data/test_api_connector_open_data.ts
Labels: documentation, Open-Data

#143 Add `migrate.json`
  package-lock.json
  package.json
  packages/api/.gitignore
  packages/api/package.json
  src/api/functional/connector/figma/get_comments/index.ts
  src/executable/openai.ts
  src/services/openai/OpenAiConverter.ts
  website/build/swagger.js
Labels: documentation, enhancement

#136 오피스텔, 단독, 다가구주택의 전월세 조회
  src/api/functional/connector/open_data/index.ts
  src/api/structures/connector/open_data/IMOLIT.ts
  src/controllers/connector/open_data/OpenDataController.ts
  src/providers/connector/open_data/OpenDataProvider.ts
  test/features/api/connector/open_data/test_api_connector_open_data.ts
Labels: Open-Data

#146 Add server urls
  nestia.config.ts
  src/executable/openai.ts
Labels: enhancement

#150 Make `IOpenAiDocument.IOperation.parameters` to be compatible.
  src/services/openai/IOpenAiDocument.ts
  src/services/openai/OpenAiConverter.ts
Labels: documentation
